
<h2>REST-API for Biocaching</h2>

<p>This page documents the Biocaching REST-based APIs.</p>

<h3>Taxonomies</h3>
The Taxonomies service gives a list of the taxonomies in the Species database.
 
<h4>GET /taxonomies?format=json</h4>
<p>Retrieves the list of taxonomies in json format.</p>

<h3>Taxa</h3>
The Taxa services give access to the species database: 

<h4>GET /taxonomies/&lt;taxonomy_id&gt;/taxa?format=json</h4>
<p>Retrieves taxa from a specific taxonomy in json format.</p>
<p>Called with no extra parameters, this service returns the taxa at the highest level, i e "animalia", "plantae" and "fungi".</p>


<h5>Optional parameters</h5>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <dl >
        <dt>from</dt>
        <dd>Return a subset of the taxa, start at 'from', default = 0</dd>
        <dt>size</dt>
        <dd>Return 'size' number of taxa, default = 10</dd>
        <dt>parent_id</dt>
        <dd>Return taxa that are immediate children of another taxa.</dd>
    </dl>
  </div>
</div>

<h4>GET /taxonomies/&lt;taxonomy_id&gt;/search?format=json</h4>
<p>Retrieves taxa from a specific taxonomy in json format.</p>
<p>Called with no extra parameters, this service returns the taxa at the highest level, i e "animalia", "plantae" and "fungi".</p>


<h5>Optional parameters</h5>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <dl >
        <dt>from</dt>
        <dd>Return a subset of the taxa, start at 'from', default = 0</dd>
        <dt>size</dt>
        <dd>Return 'size' number of taxa, default = 10</dd>
        <dt>rank</dt>
        <dd>return only taxa with a specified rank, default = all<br/>available ranks are: "kingdoms", "genus", "species", "not assigned"</dd>
        <dt>below_rank, below_rank_value</dt>
        <dd>return only taxa below a certain rank in the taxonomy. E. g.: to only retrieve birds add parameters: below_rank=class and below_rank_value=aves</dd>
        <dt>term</dt>
        <dd>Search for the term in a taxa's common name and scientific name</dd>
    </dl>
  </div>
</div>


<h5>Examples</h5>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <dl >
        <dt>Get the 5 first species in the mammalia class (mammals):</dt>
        <dd><%=link_to taxonomy_taxa_url(1, format: :json, from: 0, size: 5, below_rank: :class, below_rank_value: :mammalia), 
                       taxonomy_taxa_path(1, format: :json, from: 0, size: 5, below_rank: :class, below_rank_value: :mammalia)%></dd>
        <dt>Get the 5 next species in the mammalia class (mammals):</dt>
        <dd><%=link_to taxonomy_taxa_url(1, format: :json, from: 5, size: 5, below_rank: :class, below_rank_value: :mammalia), 
                       taxonomy_taxa_path(1, format: :json, from: 5, size: 5, below_rank: :class, below_rank_value: :mammalia)%></dd>
       <dt>Search for birds named something with "fody", return at most 10 results:</dt>
       <dd><%=link_to taxonomy_taxa_url(1, format: :json, below_rank: :class, below_rank_value: :aves, term: "fody"), 
              taxonomy_taxa_path(1, format: :json, below_rank: :class, below_rank_value: :aves, term: "fody")%></dd>
    </dl>
  </div>
</div>


<h4>GET /taxa/&lt;id&gt;?format=json</h4>
<p>Retrieves a single species, given it's id.</p>